.wrapper{
    background-color: rgb(167, 168, 168);
    justify-content: center;
    position: relative;
    display: flex;
    height: 500px;
   
}
span {
    margin: 20px;
}
.drop1 {
    font-size: 1.5rem;
    animation: emoji 4s forwards;
}
.drop2 {
    font-size: 1.5rem;
    animation: emoji 6s forwards;
}
.drop3 {
    font-size: 1.5rem;
    animation: emoji 8s forwards;
}
@keyframes emoji{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(250px);
    }
}